<p id="notice"><%= notice %></p>

<p>
  <strong>Содержание:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>

<%= link_to 'Редактировать', edit_micropost_path(@micropost) %> |
<%= link_to 'Назад', microposts_path %>
